# Elasticsearch Configuration
# Replace these values with your actual Elasticsearch configuration
ES_URL=https://your-cluster.region.elastic.co:9243
ES_API_KEY=your-api-key-here
ELSER_INFERENCE_ID=.elser-2-elastic
EMBEDDING_INFERENCE_ID=google_vertex_ai_embeddings
E5_INFERENCE_ID=.multilingual-e5-small-elasticsearch
RERANK_INFERENCE_ID=.rerank-v1-elasticsearch

# Kibana Configuration
KIBANA_URL=https://your-cluster.region.elastic.co:5601
KIBANA_SYNONYMS=https://your-cluster.region.elastic.co:5601/app/elasticsearch/synonyms
KIBANA_QUERY_RULES=https://your-cluster.region.elastic.co:5601/app/elasticsearch/query_rules

# Index Configuration
export INDEX_NAME="ecommerce_shein_products"
export RECOMMENDATION_ENGINE_INDEX_NAME="ecommerce_shein_recommendations"
export MODEL_ID="gemini-2.0"
export INDEX_WITH_SYNONYMS=ecommerce_shein_products_with_synonyms
export UI_PORT=8533